<!DOCTYPE html>
<html lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Mobile Specific Metas -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="HandheldFriendly" content="true">
        <meta content="telephone=no" name="format-detection">
        <title>Error Page</title>
        
        <link href="static/css/main_404.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="static/img/aaa.jpg">
        
    </head>
    <body data-new-gr-c-s-check-loaded="14.1038.0" data-gr-ext-installed="">
    	<div class="full-bradiusalls">
            <span class="bradius2"></span>
        	<span class="bradius3"></span>
            <span class="bradius4"></span> 
            <span class="bradius5"></span>
            <span class="bradius6"></span>
            <span class="bradius7"></span>
            <span class="bradius8"></span>
            <span class="bradius9"></span>
            <span class="bradius10"></span>
            <span class="bradius11"></span>
            <span class="bradius12"></span>
            <span class="bradius13"></span>
            <span class="bradius14"></span>
            <span class="bradius15"></span>
            <span class="bradius16"></span>
            <span class="bradius17"></span>
            <span class="bradius18"></span>
            <span class="bradius19"></span>
            <span class="bradius20"></span>
        </div>
        <section class="error">
            <!-- Content -->
            <div class="error__content">
                <div class="error__message message">
                    <h2 class="message__title">Page Not Found</h2>
					<p class="message__text">We're sorry, something went wrong. Links might be broken or no longer exists.</p>
					<h5><p class="message__text">Please upoad image within specified max limit size of 2 MB with 1024 x 1024.</p></h5>
				</div>
                <div class="error__nav e-nav">
                    <a href="/" class="e-nav__link"></a>
                </div>
            </div>
            <!-- end Content -->
        </section>
    
</body>
</html>